body {
    margin-top: 20px;
    background: linear-gradient(to bottom right, #ff9c66, #444444);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.br-empty {
    list-style: none;
}

.sidebar-bg li{
    background-color: #d3e7ff;
}

table{
    position: relative;
}

table::before{
    background-image: url("../img/shashja.png");
    background-size: 200px;
    width: 100%;
    height: 100px;
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    top: -65px;
    left: 44%;
}

.bg-img{
    background-image: url("../img/Taxi.png");
    background-size: 250px;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    top: 80%;
    left: 85%;
}
